# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
# *.exe # keep resulting binary in repo, as this is a cross-compiled DOS-EXE
*.out
*.app

# Temporary files
*.swp
*.err

# Environment
oswsetenv.sh
dos_setenv.sh
